<div class='viewport d-flex flex-column'>
  <header class='app-header navbar navbar-inverted flex-row justify-content-center'>
    <h1 class='navbar-brand mx-1'>Shop <span class='sr-only'>201</span> <svg-logo @logoVariant='badge' class='d-inline-block align-middle'></svg-logo></h1>
  </header>

  <div class='d-flex flex-column flex-sm-row col no-gutters p-0'>
    <main class='app-body d-flex flex-column col'>
      <items-slider class='items-slider col p-0' as |flickity|>
        {{#each items key="id" as |item|}}
          <show-item @item={{item}} @afterRender={{flickity}} class='item'></show-item>
        {{/each}}
      </items-slider>

      <a class='colophon' href="https://www.201-created.com/"><span class='sr-only'>201 Created</span><svg-logo></svg-logo></a>
    </main>

    <footer class='app-footer d-flex flex-column col col-sm-5 col-md-4 col-lg-3 {{inline-if (eq cart.order.lineItems.length 0) 'is-empty'}}'>
      <bodega-cart class='col p-1'
                    @order={{cart.order}}
                    @increment={{action increment}}
                    @decrement={{action decrement}}></bodega-cart>
    </footer>
  </div>
</div>

{{!modal-message}}
