<div>
  <button onclick={{action beginApplePay}}
          class="apple-pay-button {{inline-if applePay.isAvailable "is-available"}} {{inline-if isDisabled 'disabled'}}"
          disabled={{isDisabled}}
          title={{title}}
          data-test-pay>
  </button>
</div>
